docs/n8n-support-notifications-with-learner-notify-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supportNotifications",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        1408
      ],
      "id": "5408f07d-ab95-4808-9a7a-31e239a219b5",
      "name": "Webhook",
      "webhookId": "f2daefbb-95cf-4b3b-9c86-338273b4b76f"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        1408
      ],
      "id": "5172a1bb-da7f-4530-8b3b-698941794be8",
      "name": "Normalize Payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "quick_ticket_submitted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "08dd67e4-bf48-412e-9619-c382b2dedbde"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bce6a022-25c6-4446-b9de-38e696c81a1a",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "quick_ticket_closed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6f32e2a1-5b46-47ec-9511-52356bdf6f6a",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "live_agent_unavailable",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        992,
        1392
      ],
      "id": "61bad013-b114-40f6-94bb-856055592fa3",
      "name": "Route Event"
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Normalize Payload\"].json.requester.email }}",
        "subject": "=Support ticket {{ $node[\"Normalize Payload\"].json.ticket.id }} submitted",
        "message": "=<div style=\"margin:0;padding:0;background:#f4f6fb;font-family:Georgia,'Times New Roman',serif;color:#111827;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f4f6fb;margin:0;padding:28px 0;\"><tr><td align=\"center\" style=\"padding:0 16px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:640px;background:#ffffff;border:1px solid #dedede;border-radius:8px;overflow:hidden;\"><tr><td style=\"background:#17172b;color:#ffffff;padding:24px 28px;\"><div style=\"font-size:13px;letter-spacing:1.3px;text-transform:uppercase;font-weight:700;color:#dbe7ff;\">Kent Business College</div><div style=\"font-size:22px;font-weight:700;margin-top:8px;\">Support Ticket Submitted</div></td></tr><tr><td style=\"padding:26px 28px 30px;\"><p style=\"margin:0 0 14px;font-size:16px;line-height:1.6;\">Dear <strong>{{ $node[\"Normalize Payload\"].json.requester.name || \"there\" }}</strong>,</p><p style=\"margin:0 0 22px;font-size:15px;line-height:1.7;\">Your support ticket has been submitted successfully. Our support team will review the details and follow up as soon as possible.</p><div style=\"font-size:12px;letter-spacing:1px;text-transform:uppercase;font-weight:700;color:#777;margin:0 0 8px;\">Ticket Info</div><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f8f9fc;border-left:4px solid #17172b;border-radius:4px;margin:0 0 22px;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px;line-height:1.7;\"><strong>Ticket ID</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.id }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Category</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.category }}{{ $node[\"Normalize Payload\"].json.ticket.technicalSubcategory ? \" - \" + $node[\"Normalize Payload\"].json.ticket.technicalSubcategory : \"\" }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Subject</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.subject || \"-\" }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Status</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.statusReason || $node[\"Normalize Payload\"].json.ticket.status || \"Quick Ticket\" }}</div>{{ $node[\"Normalize Payload\"].json.submittedFor ? \"<div style='font-size:15px;line-height:1.7;margin-top:10px;'><strong>Submitted for</strong><br>\" + ($node[\"Normalize Payload\"].json.submittedFor.fullName || $node[\"Normalize Payload\"].json.submittedFor.email || \"Learner\") + \"</div>\" : \"\" }}</td></tr></table><p style=\"margin:0;font-size:15px;line-height:1.6;\">Kind regards,<br><strong>Kent Business College Support</strong></p></td></tr></table></td></tr></table></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        1216
      ],
      "id": "731eeadc-bff4-4aad-80d6-491868ef53f3",
      "name": "Quick Ticket Submitted",
      "webhookId": "ce67b0f7-c84f-481c-8281-edaf911f6c39",
      "credentials": {
        "gmailOAuth2": {
          "id": "DZ8VIkkppghFEoGg",
          "name": "Charly Account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b5973f4d-3826-4992-8c7a-26f4dc2438f1",
                    "leftValue": "={{ $node[\"Normalize Payload\"].json.submittedFor?.notifyByEmail && ($node[\"Normalize Payload\"].json.submittedFor?.notificationEmail || $node[\"Normalize Payload\"].json.submittedFor?.email) ? 'notify' : 'skip' }}",
                    "rightValue": "notify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "75684a6e-7a4a-4ec6-9f94-01576e670a0c",
                    "leftValue": "={{ $node[\"Normalize Payload\"].json.submittedFor?.notifyByEmail && ($node[\"Normalize Payload\"].json.submittedFor?.notificationEmail || $node[\"Normalize Payload\"].json.submittedFor?.email) ? 'notify' : 'skip' }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1440,
        1216
      ],
      "id": "eb33c790-38b1-4244-a305-8f6cae6fe63d",
      "name": "Route Learner Notification1"
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Normalize Payload\"].json.submittedFor.notificationEmail || $node[\"Normalize Payload\"].json.submittedFor.email }}",
        "subject": "=Support ticket {{ $node[\"Normalize Payload\"].json.ticket.id }} has been created for you",
        "message": "=<div style=\"margin:0;padding:0;background:#f4f6fb;font-family:Georgia,'Times New Roman',serif;color:#111827;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f4f6fb;margin:0;padding:28px 0;\"><tr><td align=\"center\" style=\"padding:0 16px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:640px;background:#ffffff;border:1px solid #dedede;border-radius:8px;overflow:hidden;\"><tr><td style=\"background:#17172b;color:#ffffff;padding:24px 28px;\"><div style=\"font-size:13px;letter-spacing:1.3px;text-transform:uppercase;font-weight:700;color:#dbe7ff;\">Kent Business College</div><div style=\"font-size:22px;font-weight:700;margin-top:8px;\">Support Ticket Created For You</div></td></tr><tr><td style=\"padding:26px 28px 30px;\"><p style=\"margin:0 0 14px;font-size:16px;line-height:1.6;\">Dear <strong>{{ $node[\"Normalize Payload\"].json.submittedFor.fullName || \"there\" }}</strong>,</p><p style=\"margin:0 0 22px;font-size:15px;line-height:1.7;\">A support ticket has been submitted on your behalf by <strong>{{ $node[\"Normalize Payload\"].json.requester.name || \"a staff member\" }}</strong>. Our support team will review the issue and follow up if needed.</p><div style=\"font-size:12px;letter-spacing:1px;text-transform:uppercase;font-weight:700;color:#777;margin:0 0 8px;\">Ticket Info</div><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f8f9fc;border-left:4px solid #2f855a;border-radius:4px;margin:0 0 22px;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px;line-height:1.7;\"><strong>Ticket ID</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.id }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Subject</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.subject || \"-\" }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Category</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.category }}{{ $node[\"Normalize Payload\"].json.ticket.technicalSubcategory ? \" - \" + $node[\"Normalize Payload\"].json.ticket.technicalSubcategory : \"\" }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Submitted by</strong><br>{{ $node[\"Normalize Payload\"].json.requester.name || \"-\" }}{{ $node[\"Normalize Payload\"].json.requester.email ? \" - \" + $node[\"Normalize Payload\"].json.requester.email : \"\" }}</div></td></tr></table><p style=\"margin:0;font-size:15px;line-height:1.6;\">Kind regards,<br><strong>Kent Business College Support</strong></p></td></tr></table></td></tr></table></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        1136
      ],
      "id": "d764f642-62d1-4f78-9ff5-ac165e1a642d",
      "name": "Submitted Learner Notification1",
      "webhookId": "ce67b0f7-c84f-481c-8281-edaf911f6c39",
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "DZ8VIkkppghFEoGg",
          "name": "Charly Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true, \"event\": \"quick_ticket_submitted\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1888,
        1216
      ],
      "id": "b2de6d8d-6ed7-475a-be26-8ab116579955",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Normalize Payload\"].json.requester.email }}",
        "subject": "=Support ticket {{ $node[\"Normalize Payload\"].json.ticket.id }} closed",
        "message": "=<div style=\"margin:0;padding:0;background:#f4f6fb;font-family:Georgia,'Times New Roman',serif;color:#111827;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f4f6fb;margin:0;padding:28px 0;\"><tr><td align=\"center\" style=\"padding:0 16px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:640px;background:#ffffff;border:1px solid #dedede;border-radius:8px;overflow:hidden;\"><tr><td style=\"background:#17172b;color:#ffffff;padding:24px 28px;\"><div style=\"font-size:13px;letter-spacing:1.3px;text-transform:uppercase;font-weight:700;color:#dbe7ff;\">Kent Business College</div><div style=\"font-size:22px;font-weight:700;margin-top:8px;\">Support Ticket Closed</div></td></tr><tr><td style=\"padding:26px 28px 30px;\"><p style=\"margin:0 0 14px;font-size:16px;line-height:1.6;\">Dear <strong>{{ $node[\"Normalize Payload\"].json.requester.name || \"there\" }}</strong>,</p><p style=\"margin:0 0 22px;font-size:15px;line-height:1.7;\">Your support ticket has now been closed. If you still need help, please submit a new support request through the support portal.</p><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f8f9fc;border-left:4px solid #2f855a;border-radius:4px;margin:0 0 22px;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px;line-height:1.7;\"><strong>Ticket ID</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.id }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Subject</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.subject || \"-\" }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Status</strong><br>Closed</div></td></tr></table><p style=\"margin:0;font-size:15px;line-height:1.6;\">Kind regards,<br><strong>Kent Business College Support</strong></p></td></tr></table></td></tr></table></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        1408
      ],
      "id": "61989a99-e34b-4917-bc84-218b790c0e1a",
      "name": "Quick Ticket Closed",
      "webhookId": "ce67b0f7-c84f-481c-8281-edaf911f6c39",
      "credentials": {
        "gmailOAuth2": {
          "id": "DZ8VIkkppghFEoGg",
          "name": "Charly Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true, \"event\": \"quick_ticket_closed\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        1408
      ],
      "id": "47306f25-706d-4c9e-8116-9c2d6379aae4",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Normalize Payload\"].json.requester.email }}",
        "subject": "=Live chat waiting: {{ $node[\"Normalize Payload\"].json.ticket.id }} has no available agent",
        "message": "=<div style=\"margin:0;padding:0;background:#f4f6fb;font-family:Georgia,'Times New Roman',serif;color:#111827;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f4f6fb;margin:0;padding:28px 0;\"><tr><td align=\"center\" style=\"padding:0 16px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:640px;background:#ffffff;border:1px solid #dedede;border-radius:8px;overflow:hidden;\"><tr><td style=\"background:#17172b;color:#ffffff;padding:24px 28px;\"><div style=\"font-size:13px;letter-spacing:1.3px;text-transform:uppercase;font-weight:700;color:#dbe7ff;\">Kent Business College</div><div style=\"font-size:22px;font-weight:700;margin-top:8px;\">Live Agent Required</div></td></tr><tr><td style=\"padding:26px 28px 30px;\"><p style=\"margin:0 0 14px;font-size:16px;line-height:1.6;\">Dear Operations Team,</p><p style=\"margin:0 0 22px;font-size:15px;line-height:1.7;\">A requester selected Live Agent, but no available support agent could be assigned automatically. Please review and assign a team member as soon as possible.</p><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f8f9fc;border-left:4px solid #b7791f;border-radius:4px;margin:0 0 22px;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px;line-height:1.7;\"><strong>Ticket ID</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.id }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Requester</strong><br>{{ $node[\"Normalize Payload\"].json.requester.name }} - {{ $node[\"Normalize Payload\"].json.requester.email }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Subject</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.subject || \"-\" }}</div><div style=\"font-size:15px;line-height:1.7;margin-top:10px;\"><strong>Category</strong><br>{{ $node[\"Normalize Payload\"].json.ticket.category }}{{ $node[\"Normalize Payload\"].json.ticket.technicalSubcategory ? \" - \" + $node[\"Normalize Payload\"].json.ticket.technicalSubcategory : \"\" }}</div></td></tr></table><p style=\"margin:0 0 24px;font-size:15px;line-height:1.7;\">Open the admin dashboard and assign the ticket to an available support agent.</p><a href=\"{{ $node[\"Normalize Payload\"].json.ticket.dashboardUrl }}\" style=\"display:inline-block;background:#17172b;color:#ffffff;text-decoration:none;font-weight:700;border-radius:6px;padding:12px 18px;\">Open Admin Dashboard</a></td></tr></table></td></tr></table></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        1600
      ],
      "id": "fecda5f5-b5ac-49d4-b57a-941d7b69cf41",
      "name": "Live Agent Unavailable",
      "webhookId": "ce67b0f7-c84f-481c-8281-edaf911f6c39",
      "credentials": {
        "gmailOAuth2": {
          "id": "DZ8VIkkppghFEoGg",
          "name": "Charly Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true, \"event\": \"live_agent_unavailable\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        1600
      ],
      "id": "41ced22a-67ac-4a0c-88ba-8459e1dc17bc",
      "name": "Respond to Webhook7"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Route Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event": {
      "main": [
        [
          {
            "node": "Quick Ticket Submitted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quick Ticket Closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Live Agent Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quick Ticket Submitted": {
      "main": [
        [
          {
            "node": "Route Learner Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Learner Notification1": {
      "main": [
        [
          {
            "node": "Submitted Learner Notification1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submitted Learner Notification1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quick Ticket Closed": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Live Agent Unavailable": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1df6b8eb7cad6964c4019ffc034ca93b67e15d54f1ef0b486646f0918cb85bc3"
  }
}
